body {
  display: grid;
  gap: 20px;
  grid-template-columns: 200px 1fr 200px;
  grid-auto-rows: 300px;
}

body > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

img:nth-child(1){
   grid-column: 1/4;
}

img:nth-child(2){
    grid-column: 1/3;
    grid-row: 2/4;
}