* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  padding: 20px;
}

body.dark {
  color: white;
  background-color: black;
}

ul {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}
