* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  padding: 20px;
  background-color: rgb(22, 22, 22);
  color: white;
}

h1,
h2,
h3,
h4 {
  font-size: 28px;
}

ul {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  color: orange;
}
